.WIPage {
    font-family: Roboto,sans-serif;
    margin: 10px;
    color: midnightblue;
}

.WIItems {
    background-color: skyblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 55px;
    width: 70%;
    margin: auto;
    font-weight: bold;
}

.WIItem {
    font-size: 12px;
}

.WICurrentTemp {
    background-color: #282c34;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 45px;
}

.WIFeelTemp {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 45px;
}

